# Dependencies
node_modules/
needcollab/node_modules/
webserver-needcollab/node_modules/


# Build outputs
dist/
dist-ssr/
needcollab/dist/

# Environment variables
.env
.env.*
needcollab/.env*
webserver-needcollab/.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Misc
*.local
